# Nutri-Score Calculation

use inline images

- Macro distribution, Balanced diet
- Total calories
- Meal plan Cost
- Nutriscore
- FODmap markers
- Micro balance, enough vitamins and minerals
- Fiber check
- Saturated fat check
- Grocery expire check
- Safe for diabetics , total carbs, Glycemic index and Glycemic Load, enough protein, limit saturated
- Based on metadata generate meal plan
- Shopping list
- Empty calories